<app-masterpage>
  <div class="container">
    <!-- Main content -->
    <div class="row">
      <div class="col col-12 col-md-4 mb-3">
        <img src="/assets/images/leo-family.webp" style="width: 100%" />
      </div>
      <div class="col col-12 col-md-8">
        <p>
          Welcome to Capital Choice, proudly serving East Tennessee with a mission to safeguard your future. We understand that life is unpredictable, but with
          our tailored insurance solutions, you're always one step ahead. Our commitment is to provide you and your family with the peace of mind you deserve.
        </p>
        <p>
          At Capital Choice, we believe in empowering you through knowledge. Our team of experts is dedicated to guiding you through the complexities of
          insurance, ensuring that you make informed decisions that best suit your unique needs.
        </p>
        <p>
          Start your journey to financial security today. Explore our range of services, from life insurance to identity theft protection, all designed with
          your well-being in mind. With Capital Choice, you're not just planning for the future; you're protecting it.
        </p>
        <button pButton>Learn More Today</button>
      </div>
    </div>
    <!---->
    <hr />
    <!-- Services -->
    <div class="row">
      <h2>Protect What Matters Most</h2>
      <div class="col col-12 col-md-4 mb-3">
        <div class="card">
          <div class="card">
            <div class="card-header">Life & Disability Insurance</div>
            <div class="p-3">
              We work with multiple carriers to offer competitive rates. Your experienced agent can answer all your questions and provide quotes. When you're
              ready to move forward, your agent will guide you through the application and underwriting process.
            </div>
            <div class="card-footer">
              <button pButton>Talk to an Expert Today</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-4 mb-3">
        <div class="card">
          <div class="card-header">Identity Theft Protection</div>
          <div class="p-3">
            Identity theft monitoring and restoration insurance is important for everyone. That's why we use Reliashield, a Tennessee based company. Get
            extensive identity monitoring and restoration services with $1 million of identity theft insurance for less than $8 / month. Use the link below for
            a 10% lifetime discount.
          </div>
          <div class="card-footer">
            <button pButton>Protect Your Identity Today</button>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-4 mb-3">
        <div class="card">
          <div class="card">
            <div class="card-header">Financial Status Checks</div>
            <div class="p-3">
              We provide FREE financial status checks for first responder families. Get help with debt management, budgeting, saving for emergencies, or
              planning a large purchase.
            </div>
            <div class="card-footer">
              <button pButton>Plan for Success Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
    <hr />
    <!-- Segmentation -->
    <div class="row">
      <div class="col col-12 col-md-6">
        <h2>Families</h2>
      </div>
      <div class="col col-12 col-md-4">
        <h2>First Responders</h2>
      </div>
    </div>
    <!---->
    <hr />
    <!-- Schedule -->
    <div class="row">
      <h2>Schedule A Free No Obligation Consultation Today</h2>
      <div class="col col-12 col-md-12"></div>
    </div>
    <!---->
    <hr />
    <!-- Your Agent -->
    <div class="row">
      <p>Your Agent</p>
      <h2>Dylan Jones</h2>
      <div class="col col-12 col-md-12"></div>
    </div>
    <!---->
    <hr />
    <!-- Testimonials -->
    <div class="row">
      <h2>Testimonials</h2>
      <div class="col col-12 col-md-4">Dylan is so great!</div>
      <div class="col col-12 col-md-4">Dylan is so great!</div>
      <div class="col col-12 col-md-4">Dylan is so great!</div>
    </div>
    <!---->
  </div>
</app-masterpage>
