<app-masterpage>
  <div class="bg bg-lg bg-blue-gradient">
    <div class="container">
      <!-- Main content -->
      <div class="row">
        <div class="col col-12 col-md-4 mb-3">
          <div class="header-image"></div>
        </div>
        <div class="col col-12 col-md-8">
          <div class="ps-3">
            <h1>Protect your family - the easy way.</h1>
            <p>
              Welcome to Capital Choice Financial Group, proudly serving Tennessee with a mission to safeguard your future. We understand that life is
              unpredictable, but with our tailored insurance solutions, you're always one step ahead. Our commitment is to provide you and your family with the
              peace of mind you deserve.
            </p>
            <p>
              At Capital Choice, we believe in empowering you through knowledge. Our team of experts is dedicated to guiding you through the complexities of
              insurance, ensuring that you make informed decisions that best suit your unique needs.
            </p>
            <p>
              Start your journey to financial security today. Explore our range of services, from life insurance to identity theft protection, all designed with
              your well-being in mind. With Capital Choice, you're not just planning for the future; you're protecting it.
            </p>
            <button class="btn btn-primary">Learn More Today</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-8">
          <div>
            <h2>Personalized Insurance Assistance</h2>
            <p>
              <strong>Flexible and Convenient Consultations:</strong><br />
              We understand the demands and irregular hours of your profession. That's why we offer adaptable scheduling to meet your needs. Whether you prefer
              to connect online, over the phone, or in person, our agents are available at times that suit you, ensuring a hassle-free experience.
            </p>

            <p>
              <strong>Informed and Tailored Options:</strong><br />
              Our agents are committed to understanding your unique circumstances and goals. They will walk you through a range of insurance options
              specifically curated for you. During these sessions, they'll provide detailed explanations and transparent insights into each plan, ensuring you
              have all the information you need to make an informed decision.
            </p>
            <p>
              <strong>Guided Application Process:</strong><br />
              When you're ready to proceed, your agent will guide you through the application process, simplifying and clarifying each step. They are dedicated
              to ensuring a smooth and stress-free experience, assisting with any challenges and answering any additional questions you may have.
            </p>
            <p>
              <strong>Ongoing Support and Advice:</strong><br />
              Even after your policy is in place, our agents remain your personal advisors for any future needs or queries. Whether it's updating your policy,
              understanding policy details, or just seeking financial advice, they're always just a call or message away.
            </p>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="bg bg-lightgray card p-4">
            <h4 class="mb-0">Understanding Life Insurance Costs: Real Examples</h4>
            <hr />
            <p>
              Emily is a 35 year old female fire fighter who does not smoke. She is married and has 2 kids. She was able to get a $1,000,000 policy for
              $60/month.
            </p>
            <p>Dave is a 56 year male police officer who does not smoke. He is married and has 4 kids. He was able to get a $500,000 policy for $82/month.</p>
            <p>Jerrol is a 42 year software engineer who does not smoke. He is married and has 2 kids. He was able to get a $1,000,000 policy for $40/month.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg bg-lightgray">
    <div class="container">
      <!-- Services -->
      <div class="row mb-4">
        <h2 class="mb-4">How We Can Help</h2>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_iftf.png" />
              <div class="card-content p-3">
                <h3>Life & Disability Insurance</h3>
                <p>
                  We work with multiple carriers to offer competitive rates. Your experienced agent can answer all your questions and provide quotes. When
                  you're ready to move forward, your agent will guide you through the application and underwriting process.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Talk to an Expert Today</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_fw.png" />
              <div class="card-content p-3">
                <h3>Annuities</h3>
                <p>
                  Looking for a reliable income post-retirement? Our annuities promise long-term financial security, letting you enjoy your golden years with
                  ease.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Explore Annuity Options Today</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_fw.png" />
              <div class="card-content p-3">
                <h3>Financial Status Checks</h3>
                <p>
                  We provide FREE financial status checks for first responder families. Get help with debt management, budgeting, saving for emergencies, or
                  planning a large purchase.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Plan for Success Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---->
      <div class="row">
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_iftf.png" />
              <div class="card-content p-3">
                <h3>Retirement Planning</h3>
                <p>
                  Plan for a retirement as commendable as your service. With our specialized retirement planning for law enforcement and first responders, we
                  ensure your financial strategy is as resilient as you've been on the front lines. Let's secure a future where you can relax and reflect on
                  your years of dedicated service.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Talk to an Expert Today</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_pyf.png" />
              <div class="card-content p-3">
                <h3>Get Out Of Debt</h3>
                <p>
                  In a career where every decision counts, making the right financial choices is crucial. Our debt management programs, tailored for law
                  enforcement and first responders, provide the tools and guidance you need to effectively conquer debt and pave the way for a financially
                  healthy retirement.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Protect Your Identity Today</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_pyf.png" />
              <div class="card-content p-3">
                <h3>Identity Theft Protection</h3>
                <p>
                  Identity theft monitoring and restoration insurance is important for everyone. That's why we use Reliashield, a Tennessee based company. Get
                  extensive identity monitoring and restoration services with $1 million of identity theft insurance for less than $8 / month. Apply now for a
                  10% lifetime discount.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Protect Your Identity Today</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
  <!-- Your Agent -->
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-4">
          <img src="/assets/images/dylan-jones-portrait-500.jpg" style="max-width: 360px" class="w-100 circle" alt="Dylan Jones" />
        </div>
        <div class="col col-12 col-md-8">
          <div class="ps-3">
            <p>Your Agent</p>
            <h2>Dylan Jones</h2>
            <p>As a financial coach with a background in emergency services, Dylan brings a unique perspective to the table.</p>
            <p>
              Based in East Tennessee, Dylan helps individuals and families navigate their finances and make informed decisions. He understands the importance
              of being prepared for the unexpected and the value of having a solid financial plan in place.
            </p>
            <p>
              Dylan believes in taking a personalized approach to each individual financial situation. Whether you're looking to build a savings plan, pay off
              debt, or protect your family with insurance, he's ready to help.
            </p>
            <ul>
              <li>15 years experience in law enforcement and EMS</li>
              <li>Certified Ramsey Solutions Financial Coach</li>
              <li>Senior Associate with Capital Choice Financial Group</li>
              <li>Life and Health Insurance licensed in TN and MS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END -->

  <!-- Segmentation
  <div class="row">
    <div class="col col-12 col-md-6">
      <h2>Families</h2>
    </div>
    <div class="col col-12 col-md-4">
      <h2>First Responders</h2>
    </div>
  </div>-->
  <!---->

  <!-- Schedule -->
  <div class="bg bg-blue-wave">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-12 text-center">
          <h2 class="mb-4">Schedule A Free No Obligation Consultation Today!</h2>
          <img src="/assets/images/calendar-schedule.png" style="max-width: 100%" alt="Calendar" />
        </div>
      </div>
    </div>
  </div>
  <!---->

  <!-- Testimonials -->
  <div class="bg testimonials">
    <div class="container">
      <div class="row">
        <h2 class="mb-5">Testimonials</h2>
        <div class="col col-12 col-md-4">
          <div class="testimonial">
            <div class="row">
              <div class="col col-12 col-md-3 text-center">
                <img src="/assets/images/jerrol-krause.jpg" class="w-100 circle" alt="Calendar" />
              </div>
              <div class="col col-12 col-md-9">
                <p class="quote">
                  <span class="quotemark"></span>
                  I recently had the pleasure of working with Dylan to find the right life insurance policy for my family. His knowledge and patience were
                  incredibly reassuring. Dylan took the time to explain all the options and helped me understand the fine print, which made all the difference.
                </p>
                <p><strong>-Jerrol</strong><br />Knox County</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="testimonial">
            <div class="row">
              <div class="col col-12 col-md-3 text-center">
                <img src="/assets/images/jerrol-krause.jpg" class="w-100 circle" alt="Calendar" />
              </div>
              <div class="col col-12 col-md-9">
                <p class="quote">
                  <span class="quotemark"></span>
                  When it comes to purchasing life insurance, the process can be daunting. But Dylan made it simple and straightforward. He was transparent,
                  honest, and genuinely cared about my needs rather than just making a sale
                </p>
                <p><strong>-Jerrol</strong><br />Knox County</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="testimonial">
            <div class="row">
              <div class="col col-12 col-md-3 text-center">
                <img src="/assets/images/jerrol-krause.jpg" class="w-100 circle" alt="Calendar" />
              </div>
              <div class="col col-12 col-md-9">
                <p class="quote">
                  <span class="quotemark"></span>
                  "Dylan's expertise in life insurance is unmatched. He didn't just sell me a policy; he provided me with a peace of mind. His approach was
                  consultative, never pushy, and he was always available to answer my questions – no matter how trivial.
                </p>
                <p><strong>-Jerrol</strong><br />Knox County</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end">
        <a>See all testimonials (78)</a>
      </div>
    </div>
  </div>
  <!-- Recruiting -->
  <div class="recruiting bg bg-lightgray">
    <div class="container">
      <h2 class="mb-4 underline">Reinvent Your Career: From Public Service to Insurance Sales</h2>
      <div class="row">
        <div class="col col-12 col-md-6">
          <h3 class="mb-4">From Serving Communities to Securing Futures</h3>
          <p class="mb-4">
            Are you seeking a career that offers flexibility, growth, and the opportunity to make a meaningful impact? Join our team of dedicated life insurance
            professionals. Help individuals and families secure their futures while building yours.
          </p>
          <div class="text-center">
            <p><img src="/assets/images/service_pyf.png" style="max-width: 400px" /></p>
          </div>
        </div>
        <div class="col col-12 col-md-6">
          <h3>The Benefits</h3>
          <p>
            <strong>Flexibility and Independence</strong><br />
            Enjoy the freedom to manage your schedule and work autonomously. Ideal for self-starters and those seeking a better work-life balance.
          </p>
          <p>
            <strong>Unlimited Earning Potential</strong><br />
            Your hard work directly translates into your earnings. With no cap on commissions, the sky's the limit.
          </p>
          <p>
            <strong>Continuous Learning and Development</strong><br />
            Receive comprehensive training and ongoing professional development to ensure your success in the field.
          </p>
          <p>
            <strong>Make a Difference</strong><br />
            Provide peace of mind to families, knowing you're helping secure their financial future.
          </p>
        </div>
      </div>
      <div class="w-100 text-center">
        <button class="btn btn-primary">Discover Your New Career Path Today</button>
      </div>
    </div>
  </div>
  <!-- Legal -->
  <div class="container bg legal">
    <p class="">
      Capital Choice Financial Services, Inc. (CCFS) is a network of independent professionals representing various life & health insurance companies.
      Securities and investment advisory services offered solely through CoreCap Investments, LLC, Member FINRA/SIPC and CoreCap Advisors, LLC, a registered
      investment advisor. CoreCap Investments, LLC, CoreCap Advisors, LLC, Ramsey Solutions, the SmartVestor™ program, and Capital Choice are not affiliated.
      Securities trades are not accepted through email, voicemail or fax, and are limited to the residents of states the representative and/or advisor is
      licensed. Please contact your representative at the number listed above to place any securities trades. This is not an offer of securities in any
      jurisdiction, nor is it specifically directed to a resident of any jurisdiction. As with any security, request a prospectus from your registered
      representative or investment advisor representative. Read it carefully before you invest or send money. A representative from Capital Choice will contact
      you to provide requested information. Representatives of CoreCap do not provide tax or legal advice. Please consult your tax advisor or attorney regarding
      your tax/legal situation.
    </p>
    <div id="copyright" class="text-center">
      Capital Choice © 2024 All rights reserved.&nbsp; ><a href="https://www.capitalchoice.com/legal-disclaimer/"><u> Legal Disclaimer</u></a
      >. <a href="https://www.capitalchoice.com/privacy-policy/"><u>Privacy Policy</u></a
      >. <a href="https://www.capitalchoice.com/business-continuity-plan/"><u>Business Continuity Plan</u></a
      >.
    </div>
  </div>
  <!---->
</app-masterpage>
