<app-masterpage>
  <div class="bg bg-blue-gradient">
    <div class="container">
      <!-- Main content -->
      <div class="row">
        <div class="col col-12 col-md-4 mb-3">
          <div class="header-image"></div>
        </div>
        <div class="col col-12 col-md-8">
          <div class="ps-3">
            <h1>Protect your family - the easy way.</h1>
            <p>
              Welcome to Capital Choice, proudly serving Tennessee with a mission to safeguard your future. We understand that life is unpredictable, but with
              our tailored insurance solutions, you're always one step ahead. Our commitment is to provide you and your family with the peace of mind you
              deserve.
            </p>
            <p>
              At Capital Choice, we believe in empowering you through knowledge. Our team of experts is dedicated to guiding you through the complexities of
              insurance, ensuring that you make informed decisions that best suit your unique needs.
            </p>
            <p>
              Start your journey to financial security today. Explore our range of services, from life insurance to identity theft protection, all designed with
              your well-being in mind. With Capital Choice, you're not just planning for the future; you're protecting it.
            </p>
            <button class="btn btn-primary">Learn More Today</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="bg bg-lightgray mb-5">
    <div class="container">
      <!-- Services -->
      <div class="row">
        <h2 class="mb-4">Protect What Matters Most</h2>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_iftf.png" />
              <div class="card-content p-3">
                <h3>Life & Disability Insurance</h3>
                <p>
                  We work with multiple carriers to offer competitive rates. Your experienced agent can answer all your questions and provide quotes. When
                  you're ready to move forward, your agent will guide you through the application and underwriting process.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Talk to an Expert Today</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_pyf.png" />
              <div class="card-content p-3">
                <h3>Identity Theft Protection</h3>
                <p>
                  Identity theft monitoring and restoration insurance is important for everyone. That's why we use Reliashield, a Tennessee based company. Get
                  extensive identity monitoring and restoration services with $1 million of identity theft insurance for less than $8 / month. Apply now for a
                  10% lifetime discount.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Protect Your Identity Today</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card">
              <img src="/assets/images/service_fw.png" />
              <div class="card-content p-3">
                <h3>Financial Status Checks</h3>
                <p>
                  We provide FREE financial status checks for first responder families. Get help with debt management, budgeting, saving for emergencies, or
                  planning a large purchase.
                </p>
              </div>
              <div class="p-3 pt-0">
                <button class="btn btn-primary w-100">Plan for Success Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <hr />
  <!-- Segmentation -->
  <div class="row">
    <div class="col col-12 col-md-6">
      <h2>Families</h2>
    </div>
    <div class="col col-12 col-md-4">
      <h2>First Responders</h2>
    </div>
  </div>
  <!---->
  <hr />
  <!-- Schedule -->
  <div class="row">
    <h2>Schedule A Free No Obligation Consultation Today</h2>
    <div class="col col-12 col-md-12"></div>
  </div>
  <!---->
  <hr />
  <!-- Your Agent -->
  <div class="row">
    <p>Your Agent</p>
    <h2>Dylan Jones</h2>
    <div class="col col-12 col-md-12"></div>
  </div>
  <!---->
  <hr />
  <!-- Testimonials -->
  <div class="row">
    <h2>Testimonials</h2>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
  </div>
  <!---->
  <hr />
  <!-- Testimonials -->
  <div class="row">
    <h2>Capital Choice Blah Blah</h2>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
    <div class="col col-12 col-md-4">Dylan is so great!</div>
  </div>
  <!---->
</app-masterpage>
