<div id="nav">
  <div class="d-none d-lg-flex">
    @for (nav of navMenu; track nav) {
    <a class="nav-menu-link main-menu" [routerLink]="nav.routerLink ? [nav.routerLink] : null" (click)="nav.command ? nav.command() : null">
      @if (!!nav.icon) {
      <app-icons [icon]="nav?.icon || 'question'" class="me-2"></app-icons>
      } <span [innerHtml]="nav.label"></span>
    </a>
    }
    <div class="menu-container align-self-center ms-auto" #temp>
      <div class="d-flex contact-info">
        <div class="me-3">
          Dylan R Jones<br />
          <!--
          <span class="job-title"><em>Financial Coach & Life Insurance Agent</em><br /></span>
          -->
          <app-icons icon="phone"></app-icons> <a class="ms-2" href="tel:8652141371">(865) 214-1371</a><br />
          <app-icons icon="envelope"></app-icons> <a class="ms-2" href="mailto:drjones&#64;capitalchoiceinvest.com">drjones&#64;capitalchoiceinvest.com</a
          ><br />
          <a>Protect your family today!</a>
        </div>
        <div>
          <img src="/assets/images/dylan-jones-portrait-100.jpg" class="portrait" style="max-width: 65px" />
        </div>
      </div>

      <!--
         Meet www.visitdrjones.com<br / >
      Email drjones&#64;capitalchoiceinvest.com<br />

      Web www.thecapitalchoice.com
      -->
      <!--
      <a label="Show" class="menu-bar-toggle">
        <app-icons icon="user" class="me-2"></app-icons> @if (user$ | async; as user) {
        <span class="me-2">{{ user.name }}</span>
        }
        <app-icons icon="caret-down" class="icon-caret-down"></app-icons>
      </a>
      <div class="menu-bar">
        <div class="menu-bar-container">
          @for (nav of utilityMenu; track nav) {
          <a class="nav-menu-link main-menu d-block thin" [routerLink]="nav.routerLink ? [nav.routerLink] : null" (click)="nav.command ? nav.command() : null">
            @if (!!nav.icon) {
            <app-icons [icon]="nav?.icon || 'question'" class="me-2"></app-icons>
            }
            <span [innerHtml]="nav.label"></span>
          </a>
          }
        </div>
      </div>
    </div>
-->
    </div>

    <!-- Toggle sidebar -->
    <div class="pt-2 float-end d-block d-lg-none">
      <a (click)="sidebarVisible.set(true)" class="p-2">
        <app-icons icon="bars" class="me-2 fa-lg"></app-icons>
      </a>
    </div>

    <!--
  Flyout sidebar
  -->
    <p-sidebar
      [visible]="sidebarVisible()"
      (onHide)="sidebarVisible.set(false)"
      [style]="{ 'z-index': 10000 }"
      appendTo="body"
      [baseZIndex]="10000"
      [dismissible]="true"
      [showCloseIcon]="false"
    >
      <a (click)="sidebarVisible.set(false)" class="sidebar-close float-end">
        <app-icons icon="x"></app-icons>
      </a>

      @for (nav of navMenu; track nav) {
      <a class="nav-menu-link main-menu d-block" [routerLink]="[nav.routerLink]">
        @if (!!nav.icon) {
        <app-icons [icon]="nav?.icon || 'question'" class="me-2"></app-icons>
        } <span [innerHtml]="nav.label"></span>
      </a>
      }
      <hr />
      @for (nav of utilityMenu; track nav) {
      <a class="nav-menu-link main-menu d-block" [routerLink]="[nav.routerLink]">
        @if (!!nav.icon) {
        <app-icons [icon]="nav?.icon || 'question'" class="me-2"></app-icons>
        }
        <span [innerHtml]="nav.label"></span>
      </a>
      }
    </p-sidebar>
  </div>
</div>
